.git
.gitignore
node_modules
vendor
storage/logs/*
storage/app/*
.env
.env.*.local
docker-compose.override.yml
Dockerfile*
.dockerignore
README.md
.DS_Store
*.md
.editorconfig
.gitattributes
.vscode
.idea
